# REQUIRED
BOT_TOKEN=
WEBHOOK_URL=
# OPTIONAL
PORT=3000
DEFAULT_TASK_MODE=daily
DEFAULT_STATIC_TASK_ID=shift-1
ACK_KEYWORDS=ack,done,completed,finished,ok
SUMMARY_CRON=0 30 18 * * 1-5
DATA_DIR=data
# MONGODB_URI=mongodb://mongo:27017/webex_ack_bot
